*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.debug{
  border: 1.5px dashed black;
}

.btn{
  border: none;
  border-radius: 40px;
  padding: 6px 16px;
  text-align: center;
  font-size:.8em;
  cursor: pointer;
}

.btn.btn_download::before{
  content: "\2193";
  padding-right: 3px;
  /* color: white; */
}

.container{
  width: 800px;
  height: 250px;
  display: flex;
  
}

.info_section h1{
  text-align: center;
  margin: 20px;
}

.info_section p{
  text-align: center;
  margin: 0 0 10px 0 ;
}

header{
  background-color: rgb(150, 251, 251);
  height: 80px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: .7em;

  
}

.logo-up{
  display: flex;
  /* justify-content: center;
  flex-grow: 1;
  text-align: center; */
  padding: 5px 10px;
  background-color: orange;
}

.logo-up .image{
  width: 150px;
  /* text-align: center; */
}

nav{
  width: 600px;
  padding: 5px 10px;
  background-color: orange;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: black;
}

.login{
  background-color: orange;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 150px;
}

.jumbotron{
  height: 300px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_jumbo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 250px;
  background-color: fuchsia;
}

.container_jumbo h1{
  margin:20px;
  color: white;
}

.container_jumbo p{
  margin: 0 0 10px 0;
  color: white;
  text-align: center;
}

/* .btn.btn_download:hover{
  background-color: da inserire domani
}

.btn.btn_openbrowser:hover{
  background-color: da inserire domani
} */


.info_section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.info_section.gray{
  background-color: lightgray;
}

.info_section.big_gray{
  height: 600px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img{
  width: 70%;
  background-color: pink;
}

.container .text{
  width: 30%;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_section.big_gray .big_container{
  width: 800px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
}

/* .btn.btn_blu:hover{
  background-color: da inserire domani
}  */

.big_container h3{
  text-align: center;
  margin: 20px;
}


footer{
  background-color: #24272a;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_up{
  width: 800px;
  height: 250px;
  border-bottom: 2px solid #7289db ;
  display: flex;
}

.footer_up .left-text{
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #e0767f;
}

.left-text h3{
  text-align: center;
  margin-bottom: 20px;
}
.left-text .language{
  margin-bottom: 10px;
}

.footer_up .right-text{
  width: 75%;
  display: flex;
}

.right-text .column{
  width: calc(100%/4);
  background-color: rgb(29, 155, 146);
}

.right-text ul li{
  list-style: none;
}

.footer_down{
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.logo,
.sign_in{
  background-color: pink;
}